.WelcomeWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  background-image: url('nnnoise.svg'),
  linear-gradient(#01191E,#E1F9FE);
  background-blend-mode: overlay;
}
h1 {
    font-family: "Abril Fatface";
    font-size: 45px;
}
h2 {
    font-family: "Lato";
    font-size: 30px;
}
#Welcome {
  background-color: rgba(0, 0, 0, 0.307); 
  padding: 5%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #E1F9FE; 
  position: relative;
}
.line {
   height: 1px;
   background-color: white;
   margin: 1rem auto;
}

.line-1 {
  top: 10%;
  left: 5%;
  width: 90%;
}

.line-2 {
  top: 85%;
  left: 5%;
  width: 90%;
}

.line-3 {
  top: 25%;
  left: 15%;
  width: 70%;
}

.line-4 {
  top: 70%;
  left: 15%;
  width: 70%;
}
.box-1 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  }
button {
    background-color: transparent;
    border: none;
    padding: 15px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s;
    position: relative;
    color: #E1F9FE;
    z-index: 1;
}
button span {
  position: relative;
  z-index: 2;
  transition: all 0.3s;
}
button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  transform: scale(0.1, 1);
  z-index: 1;
}
button:hover span {
  letter-spacing: 2px;
}
button:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.307);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
button:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
